


.navbar{
    background-color:rgba(0, 0, 0, 0.5);
    height: 30px;
    position: fixed;
    width: 100%;
    padding: 20px;

    
}

.logo{
    width: 120px;
    position: fixed;
    left: 20px;
    top: 0;
    opacity: 100%;
    
}

.avatar{
    width: 32px;
    position: fixed;
    right :20px;
    margin-top: -2px;
    
}


@media (max-width:767px){
    .navbar{
        
        height: 15px;
        
    }
    
    .logo{
        width: 95px;
        position: fixed;
        left: 10px;
        
    }
    
    .avatar{
        width: 25px;
        right :15px;
        margin-top: -3px;
        
    }

}
